export_alias Lss '(find internal -print | grep "\.go$" && find *.go -print)'
export_alias D 'gofmt -w *.go internal && git diff $@'

export_alias T 'Lss | entr -r go test ./...'
export_alias M 'mongod --dbpath .cache/mongo'
export_alias I 'Lss | entr -r go run reassembleudp.go'
export_alias E 'node udp_emitter.js'
