ENV_DIR=$(find_up ".envrc")
export ENV_DIR=${ENV_DIR%/*}
export CURRENT_DIR=$PWD

cd $ENV_DIR
use_nix
cd $CURRENT_DIR


alias_dir=$ENV_DIR/.direnv/aliases
rm -rf "$alias_dir"
export_alias() {
  local name=$1
  shift
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_rm "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/bin/bash -e" > "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

export_alias see 'cat $(which $@)'
export_alias Ns 'nix-env -qaP $@'
export_alias Nss 'nix search nixpkgs $@'
export_alias Ls '(find internal -print | grep "\.go$" && find *.go -print)'
export_alias D 'gofmt -w *.go internal && git diff $@'

export_alias T 'Ls | entr -r go test ./...'
export_alias M 'mongod --dbpath .cache/mongo'
export_alias I 'Ls | entr -r go run reassembleudp.go'
export_alias E 'node udp_emitter.js'
